/*subbase.html*/
.top-occupation {
    height: 40px;
}
.mainpage {
    width: 1000px;
}
.top-block {
    height:450px;
    vertical-align:bottom;
}

.top-block-1 {
    height:100px;
    width: 900px;
    padding-top: 40px
}
.top-block-2 {
    height:62px;
     width: 900px;
}
.top-block-3 {
    height:288px;
}
.modifybd {
    padding-left: 50px;
    margin-bottom: 0;
    background-color: #ffffff;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.modifybd >li >a{
    color: #0f0f0f;
}
.modifybd >li >a :hover{
    color: #0f0f0f;
    text-decoration: none;
    font-weight: bold;
}

.article-block {
    width: 1000px;
}
.article-block-1{
    width: 900px;
    padding-top: 30px;
}
.sidebar-style{
    background-color: #0f0f0f;
    margin-left: -25px;
    margin-top: 20px;
}


/*自定义侧边栏*/

 .nav-side-menu {
  overflow: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  /*background-color: #2e353d;*/
  /*position: fixed;*/
  top: 0;
  /*width: 300px;  */
  width: 220px;
  height: 100%;
  color: #000;
}
.nav-side-menu .brand {
  /*background-color: #23282e;*/
  line-height: 50px;
  display: block;
  /*text-align: center;*/
  font-size: 16px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: "Segoe UI";
  /*content: "\f078";*/
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  /*border-left: 3px solid #d19b3d;*/
  /*background-color: #4f5b69;*/
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  /*color: #d19b3d;*/
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  /*color: #d19b3d;*/
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  /*background-color: #181c20;*/
  border: none;
  line-height: 28px;
  /*border-bottom: 1px solid #23282e;*/
  margin-left: 0;
  padding-left: 10px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: "Segoe UI";
  /*content: "\f105";*/
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0;
  /*border-left: 3px solid #2e353d;*/
  /*border-bottom: 1px solid #23282e;*/
}
.nav-side-menu li a {
  text-decoration: none;
  color: #000;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  /*border-left: 3px solid #d19b3d;*/
  /*background-color: #4f5b69;*/
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    /*background-color: #ffffff;*/
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    /*text-align: left !important;*/
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}

body {
  margin: 0;
  padding: 0;
}

/*侧边栏结束*/

.self-login-div1{
    background-color: #ffffff;
    width: 400px;
    height:350px;
    margin-top: 150px;
}
.self-login-WB-label{
    font-size: 30px;
    text-align: center;
    margin-top: 30px
}
.login-div{
  margin-top: 500px;
}
.form-div{
    margin-top: 20px;
}
.self-login-btn{
    font-size: large;
    height:45px;
}
.register-div{
    background-color: #ffffff;
    width: 400px;
    height:430px;
    margin-top: 150px;
}
/*新建文章 newarticle.html*/
.newarticle-div{
    background-color: #ffffff;
    width: 800px;
    /*height:1000px;*/
    margin-top: 50px;
}
.newarticle-input{
    width: 100%;
}
.wangdiv{
    width:1000px;
    height:50px;
}
.newarticle-input-title{
    border: 0;
    font-size: 25px;
    outline: none;
    padding-left: 13px;
    font-family: 微软雅黑;
    font-weight:bold;
}
.self-natc-label{

}
.self-natc-label span {
    font-family: 微软雅黑;
    font-size: 17px;
    padding-left: 15px;
    /*font-weight: bold;*/
}
.self-natc-label input{
    width:350px;border: 0;outline: none;
}
.self-natc-Sspan{
    margin-left: 10px;
    color: #0f0f0f;
    font-size: 15px;
}
/*subbase1.html*/
.self-footer {
    height:100px;
    font-family: 'Segoe Print';
    text-align: center;
    padding-top: 60px
}
/*首页侧边导航 index.html*/
.self-NP-a {
    padding-left: 3px;
}
.self-NP-a span {
    font-size: medium;
    margin-left: -3px;
    color: red
}
.self-NP-a b {
    padding-left: 10px;
    font-size: medium
}
.self-index-a {
    padding-left: 3px
}
.self-index-a span {
    margin-left: -3px
}
.self-index-a b {
    padding-left: 10px
}


/*首页下的文章 index.html*/
.self-atc-div {
    font-family: 微软雅黑;
}
.self-atc-div h3 {
    text-align:center;
    font-weight: bold;
}
.self-atc-div div {
    text-align: center;
    margin-bottom: 85px;
    margin-top: 20px
}
.self-atc-div div p{
    display: inline-block;
}
.self-atc-div button{
    margin-bottom: 50px;
    margin-top: 50px
}
.self-atc-div footer{
    text-align: center;
    margin-bottom: 50px
}
.self-atc-div-p {
    margin-bottom: 80px;
    font-size: 15px
}
.self-about-block{
    width: 600px;
    height:500px;
}
.self-about-block img{
    width: 100px;
    padding-top: 50px;
}
.self-about-textdiv{
    margin-top: 80px;
    width:600px;
}
.self-about-textdiv p{
    text-align: center;
    font-family: "Segoe UI";
    font-size: 20px;
    text-transform: capitalize;
}

/*.self-btn-hover :hover{*/
    /*text-decoration: none;*/
    /*background-color: #0f0f0f;*/
    /*color: inherit;*/
/*}*/
.self-subbase-searchbtn{
    font-family: 'Segoe UI';
    /*font-weight: lighter;*/
    border-bottom-width:1px ;
    background-color: inherit;
    border-left: 0;
    border-right: 0;
    border-top: 0;

    border-bottom-color: #0f0f0f;
    margin-left: -10px;
    outline: none;
}
.self-subbase-searchinput{
    font-weight: lighter;
    border-bottom-width:1px ;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-color: #0f0f0f;
    outline: none;
    width: 150px;
}
/*.self-subbase-searchinput:active{*/
    /*width: 200px;*/
/*}*/
.self-search-block{
    width: 600px;
}
.self-displayinline{
    display: inline;
}
.self-edit-statusbtn{
    background-color: inherit;
    border: none;
    font-family: 'Segoe UI';
    font-weight:bold;
    outline: none
}